.main-bg {
    background: 
    url('../uploads/images/ruido.png'),
    linear-gradient(50deg,#ff4169,#7c26f8);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 6rem var(--gap);
}

.section-content {
    /* Essa classe foi criada para separarmos nossas sessões do site com 100vh, ou seja o tamanho total da tela do usuário */
    min-height: 100vh;
}

.menu-spacing {
    height: 65px;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
  }